<h4>Formularios <small>Data</small></h4>
<hr>
<!-- con la propiedad  [formGroup]="forma" enlaza los controles a las propiedades del componente -->
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

    <div formGroupName="nombrecompleto">
        <!-- agregando la propiedad  formControlName="" se enlaza el control con la propiedad this.forma = new FormGroup{ nombre:"Nombre uno"} 
             de esta forma funciona para todos los controles-->
        <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('nombrecompleto.nombre').valid}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input formControlName="nombre" class="form-control" type="text" placeholder="Nombre">

                <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required" class="form-control-feedback">
                    El campo nombre es requerido.
                </div>
                <div *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength" class="form-control-feedback">
                    Por lo menos 3 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input formControlName="apellido" class="form-control" type="text" placeholder="Apellido">
                <div *ngIf="forma.get('nombrecompleto.apellido').errors?.required" class="form-control-feedback">
                    El campo apellido es requerido.
                </div>
                <div *ngIf="forma.get('nombrecompleto.apellido').errors?.minlength" class="form-control-feedback">
                    Por lo menos 3 caracteres.
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input formControlName="correo" class="form-control" type="email" placeholder="Correo electrónico">
            <div *ngIf="forma.get('correo').errors?.required" class="form-control-feedback">
                El campo correo es requerido.
            </div>
            <div *ngIf="forma.get('correo').errors?.pattern" class="form-control-feedback">
                Debe ingresar un dirección de correo valida.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pasa Tiempos</label>
        <div class="col-md-8" formArrayName="pasatiempos">
            <input formControlName="0" type="text" class="form form-control">
        </div>
        <button (click)="agregarPasatiempo()" type="button" class="btn btn-primary"></button>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>
    {{forma.valid}}
</form>