<h4>Formularios <small>template</small></h4>
<hr>
<!-- cuando se utiliza ngModel para enlazar los campos con las propiedades de un objeto
se debe utilizar [()], si solo se utiliza los corchete es para presentar la información pero no se envian los cambios
, para obtener los cambios se debe utilizar tambien el paréntesis para que la informacion sea de doble via -->
<form #formulario="ngForm" (ngSubmit)="guardar(formulario)" novalidate="">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required minlength="5" #nombre="ngModel">
                <div *ngIf="nombre.errors?.required">
                    Este campo es requerido.
                </div>
                <div *ngIf="nombre.errors?.minlength">
                    Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" required minlength="5" #apellido="ngModel">
                <div *ngIf="apellido.errors?.required">
                    Este campo es requerido.
                </div>
                <div *ngIf="apellido.errors?.minlength">
                    Por lo menos {{ apellido.errors.minlength.requiredLength }} caracteres.
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" name="correo" #correo="ngModel" [(ngModel)]="usuario.correo" required maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <div *ngIf="correo.errors?.required">
                Este campo es requerido.
            </div>
            <div *ngIf="correo.errors?.pattern">
                El campo debe tener un formato de correo.
            </div>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

</form>